{% extends 'layouts/general_layout.html' %}
{% load static %}

{% block title %} Inicio | BLOG IA {% endblock title %}

{% block content %}
    <div style= "display: flex; justify-content: center; "> <img src: ;  alt="" style="max-width: 100; height: auto; align-items: center;"> </div>

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h4 style="white-space: pre-wrap; font-family: Italiana; font-size: 30px; color: white; text-align: center;">RECETAS DESCATADAS</h4>
        <h4 style="white-space: pre-wrap; font-family: Italiana; font-size: 30px; color: white; text-align: center;">VER TODAS LAS RECETAS</h4>
    </div>

    <div style="display: flex; justify-content: space-around; margin-top: 20px;">
        <div style="background-color: greenyellow; padding: 20px; border-radius: 10px; width: 30%; height: 150px;">
            <h5 style="font-family: Italiana; font-size: 20px;">POST</h5>
            <p>DESCRIPCION DEL POST</p>
        </div>
        <div style="background-color: greenyellow; padding: 20px; border-radius: 10px; width: 30%; height: 150px;">
            <h5 style="font-family: Italiana; font-size: 20px;">POST</h5>
            <p>DESCRIPCION DEL POST</p>
        </div>
    </div>
{% endblock content %}

